[submodule "cperl-mode"]
	path = cperl-mode
	url = https://github.com/jrockway/cperl-mode.git
[submodule "eproject"]
	path = eproject
	url = https://github.com/jrockway/eproject.git
[submodule "eslide"]
	path = eslide
	url = https://github.com/jrockway/eslide.git
[submodule "magit"]
	path = magit
	url = https://github.com/philjackson/magit.git
[submodule "slime"]
	path = slime
	url = https://github.com/nablaone/slime.git
[submodule "ibuffer-git"]
	path = ibuffer-git
	url = https://github.com/jrockway/ibuffer-git.git
[submodule "gist.el"]
	path = gist.el
	url = https://github.com/defunkt/gist.el.git
