[submodule "eproject"]
	path = eproject
	url = https://github.com/jrockway/eproject.git
[submodule "eslide"]
	path = eslide
	url = https://github.com/jrockway/eslide.git
[submodule "ibuffer-git"]
	path = ibuffer-git
	url = https://github.com/jrockway/ibuffer-git.git
